<html>
  <head>
    {% include 'UserInterfaceApp/css.html' %}
      <title>Автор</title>
  </head>
  <body>

    <p>Имя: {{author.name}}</p>
    <p>Фамилия: {{author.surname}}</p>
    <p>Отчество: {{author.middle_name}}</p>
    <p>Псевдоним: {{author.nickname}}
        {% if not author.nickname %}
            не указан
        {% endif %}
    </p>

    <div>
        Работы автора:
        {% if not books %}
        не указаны
        {% endif %}
        {% for book in books %}
        <div>
            <a href="{% url 'book_info' pk=book.book.pk %}">{{ book.book }}</a>
        </div>
    {% endfor %}
    </div>
    <p><a href = "{{back}}">Назад</a></p>
  </body>
</html>