<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>
</head>
<body>
    <div>
        Название: {{book.title}}
    </div>
    <div>
        {{book.description}}
    </div>
    <div>
        Объем: {{book.size}}
    </div>
    <div>
        Скачать: <a href="{{book.link}}" target="_blank">link</a>
    </div>
    <div>
        Дата загрузки: {{book.download_date}}
    </div>
    <div>
        Жанры:
        {% if not genres %}
            не указаны
        {% endif %}
        {% for genre in genres %}
        <a href="{% url 'genre' pk=genre.genre.pk %}">{{ genre.genre }}</a>
        {% endfor %}
          {% if book.user_id == user %}
        <a href="{% url 'genre_update' pk=book.pk %}">добавить</a>
        {% endif %}
    </div>
    <div>
        Авторы:
        {% if not authors %}
            не указаны
        {% endif %}
        {% for author in authors %}
            | <a href="{% url 'author' pk=author.author.pk %}">{{ author.author }}</a> |
        {% endfor %}
        {% if book.user_id == user %}
        <a href="{% url 'author_update' pk=book.pk %}">добавить</a>
        {% endif %}
    </div>
    <div>
        Загружено пользователем: <a href="{% url 'user_info' pk=book.user_id.pk %}" >{{book.user_id}}</a>
    </div>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'book_list' pk=user.pk %}" class="middle-menu"><span><p>Мой список книг</p></span></a>
        </div>
        {% endif %}

<a href = "{% url 'books_all' %}">К списку книг</a>
    <p><a href = "{{back}}">Назад</a></p>
</body>
</html>