<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booklist</title>
    {% include 'UserInterfaceApp/css.html' %}
</head>
<body>
    <div>
        {% if not booklist %}
            В личном каталоге пользователя <a href="{% url 'user_info' pk=user.pk %}">{{ user }}</a> нет книг
        {% endif %}
    </div>
    <table border="1">
        <tr><th>Имя пользователя</th> <th>Название книги</th> <th>Категория</th></tr>
    {% for list in booklist %}
        <tr>
            <td><a href="{% url 'user_info' pk=list.user_id.pk %}"> {{ list.user_id }} </a></td>
            <td><a href="{% url 'book_info' pk=list.book.pk %}">{{ list.book }}</a> </td>
            <td>{{ list.category }} </td>
        </tr>
    {% endfor %}
    </table>
    {% if profile.pk == user.pk %}
        <a href="{% url 'user_book_list_update' pk=user.pk %}"><p>добавить</p></a>
    {% endif %}
<a href = "/">На главную</a>

</body>
</html>