<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
    <div>
        {% if not booklist %}
            В личном каталоге пользователя <a href="{% url 'user_info' pk=user.pk %}">{{ user }}</a> нет книг
        {% endif %}
    </div>
    <div>
        Имя | Название книги | Категория
    </div>
    {% for list in booklist %}
        <div> {{ list.user_id }} |
            <a href="{% url 'book_info' pk=list.book_id.pk %}">{{ list.book_id }}</a>
             | {{ list.category_id }}
        </div>
    {% endfor %}
<a href = "/">На главную</a>

</body>
</html>