

<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Личный кабинет</title>
  </head>
  <body>
  {% if user.pk == pk %}
    <div>
      <a href="{% url 'edit_profile' %}" class="top-menu"><span><p>Редактирование</p></span></a>
    </div>
  {% endif %}
  <div>
    <a href="{% url 'book_list' pk=profile.pk %}" class="middle-menu"><span><p>Список книг</p></span></a>
  </div>
    <p>Логин: {{profile.user}} </p>
    <p>Имя: {{profile.name}}</p>
    <p>Фамилия: {{profile.surname}}</p>
    <p>Отчество: {{profile.middle_name}}</p>
    <p>Дата регистрации: {{profile.date_of_registration}}</p>
  <a href = "/">На главную</a>
  </body>
</html>