<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
<div>
    {% if not user.is_authenticated %}
        <a href="register">registrate</a>
        <p><a href="login">login</a></p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><a href="logout">logout</a></p>
    {% endif %}
</div>
{% if user.is_authenticated %}
    <div>
        current user: <a href="{% url 'user_info' pk=pr %}">{{user_}}</a>
    </div>
{% endif %}
<div>
    <p>List of registred <a href="{% url 'users_all' %}">users</a></p>
</div>
<div>
    List of avaliable <a href="{% url 'books_all' %}">books</a>
</div>
{% if user.is_authenticated %}
    <div>
        <p>Add new book   <a href="{% url 'book_new' %}">+</a></p>
    </div>
{% endif %}


</body>
</html>