<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
<div>
    {% if not user.is_authenticated %}
        <a href="register">Регистрация</a>
        <p><a href="login">Авторизация</a></p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><a href="logout">Выход из аккаунта</a></p>
    {% endif %}
</div>
{% if user.is_authenticated %}
    <div>
        Текущий пользователь: <a href="{% url 'user_info' pk=pr %}">{{user_}}</a>
    </div>
{% endif %}
<div>
    <p>Список зарегистрированных <a href="{% url 'users_all' %}">пользователей</a></p>
</div>
<div>
    Список доступных <a href="{% url 'books_all' %}">книг</a>
</div>
{% if user.is_authenticated %}
    <div>
        <p>Добавлекние новой книги   <a href="{% url 'book_new' %}">+</a></p>
    </div>
{% endif %}


</body>
</html>